source_up .envrc

export PROJECT_NAME=kyle-ulman-invitation-feature

export VITE_API_URL=http://localhost:9999/s/maria/v1/invitations
export VITE_CLIENT_URL=https://ajwhitney.ngrok.io

source_env_if_exists .envrc.private
use asdf




