{
	"useTabs": true,
	"singleQuote": true,
	"trailingComma": "none",
	"printWidth": 80,
	"pluginSearchDirs": ["."],
	"overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }],
	"tailwindConfig": "./tailwind.config.cjs",
	"semi": true,
	"tabWidth": 4
}
