@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Kepler Std';
	src: url('/fonts/KeplerStd-BoldCnDisp.woff2') format('woff2');
	font-style: normal;
	font-weight: 700;
}

@font-face {
	font-family: 'Kepler Std';
	src: url('/fonts/KeplerStd-LightCapt.woff2') format('woff2');
	font-style: normal;
	font-weight: 300;
}

@font-face {
	font-family: 'Kepler Std';
	src: url('/fonts/KeplerStd-MediumScnSubh.woff2') format('woff2');
	font-style: normal;
	font-weight: 500;
}

@font-face {
	font-family: 'National 2';
	src: url('/fonts/national-2-regular-italic.woff2') format('woff2');
	font-style: italic;
	font-weight: 400;
}

@font-face {
	font-family: 'National 2';
	src: url('/fonts/national-2-regular.woff2') format('woff2');
	font-style: normal;
	font-weight: 400;
}

@layer base {
	.light-line {
		border: 1px solid #edeae9;
	}

	.light-line-strong {
		border-top: 1px solid #cfcbcb;
	}

	.light-primary-line,
	.active {
		border: 2px solid #3f6ac4;
	}

	.focus {
		border: 2px dashed #3f6ac4;
	}

	.icon {
		width: 32px;
		height: 32px;
		margin-top: 6px;
		margin-bottom: 16px;
	}

	.kepler-bold {
		font-family: 'Kepler Std';
		font-size: 44px;
		font-weight: 700;
		text-transform: uppercase;
		line-height: 1;
		letter-spacing: 0.25px;
	}

	.kepler-light {
		font-family: 'Kepler Std';
		font-weight: 300;
		line-height: 24px;
	}

	.kepler-medium {
		font-family: 'Kepler Std';
		font-size: 28px;
		font-weight: 500;
		line-height: 32px;
		letter-spacing: -0.45px;
	}

	.national-subheading {
		font-family: 'National 2';
		line-height: 24px;
		font-weight: 400;
		font-size: 10px;
		line-height: 14px;
		text-transform: uppercase;
		letter-spacing: 1.5px;
	}

	.national-sm {
		font-family: 'National 2';
		font-weight: 400;
		font-size: 12px;
		line-height: 16px;
	}
}
